td {
    padding: 10px;
    font-size: 15pt;
}

.submit-btn {
    margin-left: 110px;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #5231bc;
    border-radius: 55px;
    color: white;
    background-color: #5231bc;
    padding: 10px 35px;
}

.submit-btn:hover {
    color: #5231bc;
    background-color: white;
    border: 2px solid #5231bc;
}

.box {
    width: 300px;
    padding: 10px 20px;
    border: none;
    border-radius: 55px;
    box-shadow: 0px 0px 10px rgb(206, 206, 206);
}

img {
    width: 150px;
    height: 150px;
    margin-top: 15px;
    margin-bottom: 35px;
    border: none;
    border-radius: 100px;
}

img:hover {
    transform: scale(1.1);
}

td input {
    border: none;
    outline: 0;
    background-color: #f5f5f5;
}

td input:hover {
    cursor: pointer;
    color: #5231bc;
}
