/* @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap"); */

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
a {
    margin-right: 10px;
    padding: 0px 10px;
}

a:hover {
    transform: scale(1.1);
}

.navbar {
    background-color: #5231bc;
}
.gap {
    margin: 70px 0px;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0;
    background: #5231bc;
}

.sidebar .text {
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
}
.sidebar ul {
    background: #6600ff;
    height: 100%;
    width: 100%;
    list-style-type: none;
}
.sidebar ul li {
    border-bottom: 1px solid rgba(255, 255, 255);
}
.sidebarav ul li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.sidebar ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

.sidebar ul li a:hover {
    color: cyan;
    background: #000080;
    border-left-color: cyan;
}
.sidebar ul ul {
    position: static;
    display: none;
    list-style-type: none;
}
.sidebar ul .events-show.show {
    display: block;
}
.sidebar ul .donors-show.show1 {
    display: block;
}
.sidebar ul .org-show.show2 {
    display: block;
}
.sidebar ul .cal-show.show3 {
    display: block;
}
.sidebar ul ul li {
    border-bottom: none;
}
.sidebar ul ul li a {
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 20px;
}
.sidebar ul ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}
.sidebar ul li a span:rotate {
    transform: translateY(-50%) rotate(-180deg);
}
table {
    margin: 25px 300px;
    background: #1ce4eb;
}
h2 {
    margin: 25px 300px;
    background: #86f3ee;
    color: white;
    width: 15%;
}
table td {
    background: #6b9ddd;
    text-align: center;
}
table td a {
    text-decoration: none;
    width: 140px;
    height: 40px;
    background-color: #184f7c;
    text-align: center;
    padding: 5px 15px;
    border-radius: 32px;
    color: white;
    /* margin-top: 20px; */
    margin: 20px auto;
}
table td a:hover {
    background-color: white;
    color: #184f7c;
    border: 2px solid #184f7c;
}
